<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
	<title>EventosApp</title>
	 <!--Import Google Icon Font-->
      <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"/>
      <!--Import materialize.css-->
      <link type="text/css" rel="stylesheet" href="materialize/css/materialize.min.css"  media="screen,projection"/>

      <!--Let browser know website is optimized for mobile-->
      <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
      <link rel="stylesheet" href="style/stylecss.css"/>
</head>
<body class="home">
	
	<header>
		<nav class="menu">
		    <div class="nav-wrapper">
		    <img th:src="@{assets/img/logo1.jpg}" style="height: 4rem; width: 4rem; display: flex; border: none; box-shadow: none; padding: initial; margin: 0px 5px 3px 13px " alt="mastercard" ></img>
		      <p class="brand-logo" style="margin: -65px 5px 3px 123px">Sistema para Cadastro de Eventos e Convidados</p>
		      <ul id="nav-mobile" class="right hide-on-med-and-down">
		         <li><a href="/cadastrarEvento" class="waves-effect waves-light btn" style="margin: -125px 35px 3px 0px"><i class="material-icons left">add_circle_outline</i>CADASTRAR EVENTOS</a></li>
		         <li><a href="/eventos" class="waves-effect waves-light btn" style="margin: -125px 65px 3px 13px"><i class="material-icons left">format_list_bulleted</i>lISTA DE EVENTOS</a></li>
		      </ul>
		    </div>
		</nav>
	
	</header>
	
	<span><img src="assets/img/eventos.jpg" alt=" "></span>

	<script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script type="text/javascript" src="materialize/js/materialize.min.js"></script>

</body>
 <footer class="page-footer">
	<p>By Antonio Bruno - Copy Right - APP EVENTOS 2021</p>
 </footer>

</html>